<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subreddit.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subreddit.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @subreddit.user %>
</p>

<%= link_to 'Edit', edit_subreddit_path(@subreddit) %> |
<%= link_to 'Back', subreddits_path %>
